.footer {

    background-color: rgb(212, 208, 185);
  
    color: white;
  
    padding: 20px 0;
  
    text-align: center;
  
  }
  
   
  
  .social-icon {
  
    display: inline-block;
  
    margin: 0 10px;
  
    overflow: hidden;
  
  }
  
   
  
  .social-icon img {
  
    height: 40px;
  
    width: auto;
  
  }
  
   
  
  .social-icon:hover img {
  
    filter: brightness(0.8);
  
  }
  
   
  
  .footer p {
  
    font-size: 0.8em;
  
    margin-top: 20px;
  
  }